<header class="main-header" id="main-header" style="margin-bottom: 0px;">
    <ul class="nav-links" style="margin-bottom: 0px;">
        <li class="nav-link confeccion">
            <div class="cortina"></div>
            <a class="scroll-link" href="#nuestrosTrabajos" data-ancla="nuestrosTrabajos"
                (click)="hideBurguer()">Nosotros</a>
        </li>

        <li class="nav-link instalacion">
            <div class="cortina"></div>
            <a class="scroll-link" href="#servicios" data-ancla="servicios" (click)="hideBurguer()">Servicios</a>
        </li>
        <li class="nav-link contacto">
            <div class="cortina"></div>
            <a class="scroll-link" href="#contacto" data-ancla="contacto" (click)="hideBurguer()">Contacto</a>
        </li>
    </ul>
</header>