<header class="main-header" id="main-header">
    <button class="hamburger-btn" [class.active]="menuAbierto" (click)="toggleMenu()" aria-label="Abrir menú"
        [attr.aria-expanded]="menuAbierto">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <!-- NAV + UL -->
    <nav class="nav-container" [class.menu-abierto]="menuAbierto">
        <ul class="nav-links" role="menu">
            <li class="nav-link">
                <a class="scroll-link" href="#nuestrosTrabajos" (click)="navigateToSection($event, 'nuestrosTrabajos')"
                    role="menuitem">
                    Nosotros
                </a>
            </li>
            <li class="nav-link">
                <a class="scroll-link" href="#servicios" (click)="navigateToSection($event, 'servicios')"
                    role="menuitem">
                    Servicios
                </a>
            </li>
            <li class="nav-link">
                <a class="scroll-link" href="#contacto2" (click)="navigateToSection($event, 'contacto2')"
                    role="menuitem">
                    Contacto
                </a>
            </li>
        </ul>
    </nav>

    <div class="menu-overlay" [class.active]="menuAbierto" (click)="closeMenu()"></div>
</header>