<!-- Header -->
<header class="main-header" id="main-header" style="margin-bottom: 0px;">


    <ul class="nav-links" style="margin-bottom: 0px;">
        <li class="nav-link">
            <a class="scroll-link" href="#nuestrosTrabajos" data-ancla="nuestrosTrabajos"
                onclick="hideBurguer();">Nuestros trabajos</a>
        </li>
        <li class="nav-link">
            <a class="scroll-link" href="#servicios" data-ancla="servicios" onclick="hideBurguer();">Servicios</a>
        </li>
        <li class="nav-link">
            <a class="scroll-link" href="#contacto" data-ancla="contacto" onclick="hideBurguer();">Contacto</a>
        </li>
    </ul>
</header>

<section class="home">
    <div class="imagen_logo"><img class="logo" src="../../../assets/img/logo_proroller.png" alt="ProRoller"></div>
</section>

<div class="scrollTop button style2 down ancla2 " onclick="scrollToTop()"></div>

<section id="nuestrosTrabajos">
    <h2>Nuestros trabajos</h2>
    <!--Carousel Wrapper-->
    <div class="">
        <ul id="autoWidth" class="cs-hidden">
            <li class="item-a">
                <div class="box">
                    <img class="card-img-top imgCards" src="../../../assets/img/roller-translucida.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-white">Roller con tela Screen</h4>
                        <p class="card-text text-white">Filtra el sol directo, protegiendo tus espacios del deterioro
                            que provocan los rayos solares.</p>
                    </div>
                </div>
            </li>

            <li class="item-a">
                <div class="box">
                    <img class="card-img-top imgCards" src="../../../assets/img/roller-blackout.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-white">Roller con tela Black Out</h4>
                        <p class="card-text text-white">No deja pasar la luz. Aislante térmico y sonoro.</p>
                    </div>
                </div>
            </li>

            <li class="item-a">
                <div class="box">
                    <img class="card-img-top imgCards" src="../../../assets/img/roller-bambu.jpeg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-white">Roller Doble en tela Bambú</h4>
                        <p class="card-text text-white">Cortinas cálidas de estilo rústico.</p>
                    </div>
                </div>
            </li>

            <li class="item-a">
                <div class="box">
                    <img class="card-img-top imgCards" src="../../../assets/img/roller-rayada.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-white">Roller con tela Bambú rayada</h4>
                        <p class="card-text text-white">Al igual que el bambú liso, son ideales para ambientes rústicos.
                        </p>
                    </div>
                </div>
            </li>

            <li class="item-a">
                <div class="box">
                    <img class="card-img-top imgCards" src="../../../assets/img/cortina-tipo-antigua.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-white">Cortina tradicional con pinza Americana</h4>
                        <p class="card-text text-white">De estilo clásico. Cálidas y acogedoras.</p>
                    </div>
                </div>
            </li>

            <li class="item-a">
                <div class="box">
                    <img class="card-img-top imgCards" src="../../../assets/img/cortina-tipo-antigua-translucida.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-white">Cortina tradicional con pinza italiana</h4>
                        <p class="card-text text-white">Al igual que la pinza americana, es una cortina clásica pero con
                            un toque más moderno.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Services section -->
<section id="servicios">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">Nuestros servicios</h2>

        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card d-flex flex-row">
                    <img src="../../../assets/img/confeccion.png" height="32px" class="imgService" alt="Confección" />
                    <div class="card-block ">
                        <h3 class="card-title">Confección</h3>
                        <p class="card-text">Confeccionamos cortinas roller y tradicionales</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card d-flex flex-row">
                    <img src="../../../assets/img/instalacion.png" height="32px" class="imgService" alt="instalación">
                    <div class="card-block ">
                        <h3 class="card-title">Instalación</h3>
                        <p class="card-text">Instalamos cortinas de todo tipo</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card d-flex flex-row">
                    <img src="../../../assets/img/automatismos.png" height="32px" class="imgService" alt="Automatismos">
                    <div class="card-block">
                        <h3 class="card-title">Automatismos</h3>
                        <p class="card-text">Automatizamos tus cortinas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card d-flex flex-row">
                    <img src="../../../assets/img/amedida.png" height="32px" class="imgService"
                        alt="Confección a medida">
                    <div class="card-block ">
                        <h3 class="card-title">A medida</h3>
                        <p class="card-text">Confeccionamos cortinados a medida y deacuerdo a tus necesidades</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card d-flex flex-row">
                    <img src="../../../assets/img/variedad.png" height="32px" class="imgService"
                        alt="Variedad de materiales">
                    <div class="card-block ">
                        <h3 class="card-title">Variedad</h3>
                        <p class="card-text">Contamos con una amplia variedad de materiales de distintas calidades.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card d-flex flex-row">
                    <img src="../../../assets/img/vamos.png" height="32px" class="imgService" alt="Vamos">
                    <div class="card-block">
                        <h3 class="card-title">Vamos a donde necesites</h3>
                        <p class="card-text">Contanos cual es tu necesidad y te brindamos la mejor solución.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- /Services section -->
<section id="contacto" class="p-2">

</section>

<div class="container">
    <h4 style="text-align: center;">&#8595; Contáctanos &#8595;</h4>

    <button class="btn btn-lg btn-block btn-sm buttonPlanesWpp" onclick="wppServicios()" target="_blank"></button>

</div>

<hr color="black" size=1>

<!-- Contact -->
<section id="contacto2" class="main style3 secondary pt-3">

    <div class="content">
        <header style="text-align: center;">
            Completa el formulario y a la brevedad nos estaremos comunicando contigo. Muchas gracias.
        </header>
        <div class="box2">
            <form (ngSubmit)="contactForm(form.value)" #form="ngForm" novalidate="">
                <div class="fields">
                    <div class="field half"><input type="text" class="form-control" placeholder="Nombre" name="nombre"
                            ngModel required #nombre="ngModel" />
                        <div *ngIf="nombre.invalid && nombre.touched" class="alert alert-danger">
                            Dato requerido
                        </div>
                    </div>
                    <div class="field half"><input class="form-control" placeholder="E-Mail" type="email" name="email"
                            required ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                        <div *ngIf="email?.errors?.required && email.touched" class="alert alert-danger">
                            Dato requerido
                        </div>
                        <div *ngIf="email?.errors?.pattern" class="alert alert-danger">
                            No cumple con el formato de correos
                        </div>
                    </div>
                    <div class="field"><textarea class="form-control" placeholder="Mensaje" cols="30" rows="5"
                            name="mensaje" ngModel #mensaje="ngModel" required minlength="30">
                    </textarea>
                        <div *ngIf="mensaje?.errors?.required && mensaje.touched" class="alert alert-danger">
                            Dato requerido
                        </div>
                        <div *ngIf="mensaje?.errors?.minlength" class="alert alert-danger">
                            Escriba un mínimo de 30 caracteres
                        </div>
                    </div>

                </div>
                <ul class="actions special">
                    <button class="btn btn-block btn-sm buttonContacto" type="submit"
                        [disabled]="!form.form.valid">Enviar</button>
                </ul>
            </form>
        </div>
    </div>
</section>